/* @tailwind base;
@tailwind components;
@tailwind utilities; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  text-decoration: none;

}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(102, 86, 216);
}

.box {
  width: 30%;
  background-color: white;
  min-height: 50%;
  max-height: 80%;
  overflow: auto;
  box-shadow: 0px 0px 24px 4px rgb(104, 133, 174);
  border-radius: 8px;
}

.top {
  position: relative;
  height: 8vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding-left:7vw;
  color: black;
  border-bottom: 2px solid rgba(0, 0, 0, 0.491);

}


.btn {
  font-size: 1vw;
  background-color: rgb(87, 87, 255);
  box-shadow: 0px 0px 4px rgb(167, 167, 167);
  font-weight: 700;
  border: none;
  outline: none;
  color: white;
  border-radius: 8px;
  position: absolute;
  right: 2%;
  height: 60%;
}

.btn a{
  color: white;
  margin: 0 .5vw;
}

.list {
  height: inherit;
  width: 100%;
  padding: 2vw .8vw;
}
.tasklist{
  width: 100%;
  margin: 1vw 0;
  border-bottom: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .2vw .5vw;
  padding-right: 5px;
}
.listinfo{
  height: 100%;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .5vw;

}
.task{
  font-size: 1.3vw;

}
.desc{
  font-size: .8vw;
  padding-left: 1vw;
}

.feature{
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .4vw;
}
.feature .check{
  height: 1.5vw;
  width: 1.5vw;
}
.feature button{
  padding: .3vw .5vw;
  font-weight: 600;
  border: none;
  outline: none;
  color: white;
  border-radius: 3px;
  box-shadow: 0px 0px 2px 1px black;
  cursor:pointer;
}
.del{
  background-color: rgb(186, 105, 105);
}
.edit{
  background-color: rgb(89, 185, 89);
}
